body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   background-color:aliceblue;
   
}

form{
    max-width:400px ;
    margin:0 auto ;
}

label,input,textarea,button{
    display: block;
    margin-bottom: 10px;
}

input,textarea{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button{
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}




